{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:green;
            width:99%;
            height:100vh;
        }
        .div1{
            border:2px solid white;
            width:30%;
            height:300px;
            float:left;
            color:aliceblue;
        }
    </style>
</head>
<body>
    <div class="div1">
        <h1>“Nature is pleased with simplicity, and nature is no dummy.”Isaac Newton</h1>


    </div>
</body>
</html>