<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .scrolling-wrapper{
            width:35%;
            height:100px;
        
            margin-bottom:10px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 col-lg-3 mb-1">
                
            </div>
        </div>
    </div>
                    <div class="scrolling-wrapper" id="scrollContainer">
                    </div>
                    <div class="card product-card">
                    <img src="/static/IMAGES/sweat2.jpg" class="card-img-top" alt="Whole Wheat Sandwich Bread">
                    <div class="card-body text-center">
                        <p class="card-text">sweat </p>
                        <p>
                            <span class="text-muted text-decoration-line-through">$100</span>  
                            <span class="text-danger fw-bold">$80</span>
                        </p>
                        <a href="#" class="btn btn-primary">ORDER</a>
                    </div>
                </div>
                <br>
            
                    <div class="card product-card">
                    <img src="/static/IMAGES/bredes&sweets.jpg" class="card-img-top" alt="Whole Wheat Sandwich Bread">
                    <div class="card-body text-center">
                        <p class="card-text">Whole Wheat Sandwich Bread</p>
                        <p>
                            <span class="text-muted text-decoration-line-through">$100</span>  
                            <span class="text-danger fw-bold">$80</span>
                        </p>
                        <a href="#" class="btn btn-primary">ORDER</a>
                    </div>
                </div>
                <br>
                <div class="card product-card">
                    <img src="/static/IMAGES/deva-williamson-S2jw81lfrG0-unsplash.jpg" class="card-img-top" alt="Whole Wheat Sandwich Bread">
                    <div class="card-body text-center">
                        <p class="card-text">Whole Wheat Sandwich Bread</p>
                        <p>
                            <span class="text-muted text-decoration-line-through">$100</span>  
                            <span class="text-danger fw-bold">$80</span>
                        </p>
                        <a href="#" class="btn btn-primary">ORDER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      
</body>
</html>